---
const  menu = '../images/Menu.png';
const  user = '../images/User.png';
---

<header class="bg-white-600 text-black border border-black border-opacity-50 py-2 px-2">
    <div class="container mx-auto flex items-center justify-between">
        <button>
          <img src={menu} class="w-10 h-10">
        </button>
        <img src={user} class="w-8 h-8">
    </div>
  </header>